.Navbar-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 160px;
    background-color: rgb(19, 15, 58);
}
.imagen-logo img{
    width: initial;
    width: 160px;
    height: 40%;
}

@media only screen and (max-width: 600px){
    .Navbar-conteiner{
        height: 260px;
        flex-direction: column;
    }
    .imagen-logo img{
        width: 160px;
        height: 100px;
    }
}
.Navbar-conteiner .Ul-navbar{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    font-size: 30px;
}

.Navbar-conteiner li{
    margin-left: 0;
    margin-right: 2%;
    background-color: rgba(218, 113, 113, 0.418);
    border-radius: 10px;
}

.Navbar-conteiner .img-carrito img{
    width: 50px;
    margin-right: 5px;
    margin-left: 50px;
}
.Navbar-conteiner .img-carrito span{
    margin-right: 20px;
    padding-right: 90px;
    margin-left: 1px;
    padding-left: 1px;

}
.Ul-navbar .claseActive{
    color: rgb(255, 255, 255);
}
.Ul-navbar .claseInactive{
    color: rgb(0, 0, 0);
}