.list-card{
    background-color: rgb(66, 63, 100);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 0;
    padding: 10px;
}

/* .list-card img{
    width: 200px;
} */