.list-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 0;
    padding: 10px;
    text-align: center;
}
@media only screen and (max-width: 900px) {
    .list-card{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 600px) {
    .list-card{
        text-align: center;
        align-items: center;
        align-content: center;
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 1300px){
    .list-card{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 1700px){
    .list-card{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 2000px){
    .list-card{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 2300px){
    .list-card{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
